/* ACP module */

fieldset {
	border-radius: 10px;
}

legend {
	background: inherit;
	margin: 2px 0px 0px -11px;
	border-top: inherit;
	border-left: inherit;
	border-radius: 5px 5px 0 0;
	padding: 2px 10px;
	top: 0;
}

@media (max-width: 700px){
	legend {
		margin: 2px 0px 0px -6px;
		padding: 2px 5px;
	}
}

label input.button1 {
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;
	margin-top: .9em;
}

input[type="submit"]:disabled {
	opacity: .4;
	cursor: not-allowed;
}

.extonoff_default {
	margin-top: 1em;
	font-size: .9em;
}

.extonoff_footer {
	margin-top: 1em;
	text-align: center;
	font-size: .75em;
}

/* Ext manager */

#extonoff_button_enable,
#extonoff_button_disable {
	float: right;
}

.extonoff_migration_icon {
	float: right;
	cursor: help;
}

.extonoff_migration_icon:after {
	font-family: FontAwesome;
	content: "\f062";
}

/* Confirm box */

#confirm h2 {
	margin-bottom: .25em;
}
